In [1]:
import pandas as pd
import nose.tools
# Write your imports here

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset (2 points)
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [2]:
# read the data
mpg_data = pd.read_table('data/auto-mpg.data', header=None, sep='\s+')

In [3]:
mpg_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [4]:
# set the new columns
mpg_data.columns = [
    'mpg',
    'cylinders',
    'displacement',
    'horsepower',
    'weight',
    'acceleration',
    'model_year',
    'origin',
    'car_name',
]

In [5]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [6]:
nose.tools.assert_is_not_none(mpg_data)

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [7]:
mpg_data.loc[0:3] # show the first 4 rows

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst

### Problem 2. Inspect the dataset (1 point)
Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [8]:
# get the data shape of the date frame
def observations_and_features(dataset):
    observations, features = dataset.shape
    return f"{observations} observations on {features} features"

In [9]:
print(observations_and_features(mpg_data))

398 observations on 9 features

Inspect the data types for each column.

In [10]:
mpg_data.dtypes # show the types

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

### Problem 3. Correct errors (1 point)
The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [11]:
"""
after a detailed look at the data,
I found that some of the cars didn't have an entered value for hp,
instead it was written ?
"""
mpg_data.loc[mpg_data['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035.0,20.5,82,1,amc concord dl

In [12]:
# convert the strings in float type and replace the non numerical values in NaN
mpg_data['horsepower'] = pd.to_numeric(mpg_data['horsepower'], errors='coerce')

In [13]:
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [14]:
mpg_data.loc[mpg_data['horsepower'].isnull()] # show all NaN values

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [15]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")

### Problem 4. Missing values: inspection (1 point)
We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [16]:
# a function that check if there are a NaN values in the hoersepower feature
def get_unknown_hp(dataframe):
    return dataframe.loc[dataframe['horsepower'].isnull()]

In [17]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN  2046.0          19.0
126  21.0          6         200.0         NaN  2875.0          17.0
330  40.9          4          85.0         NaN  1835.0          17.3
336  23.6          4         140.0         NaN  2905.0          14.3
354  34.5          4         100.0         NaN  2320.0          15.8
374  23.0          4         151.0         NaN  3035.0          20.5

     model_year  origin              car_name
32           71       1            ford pinto
126          74       1         ford maverick
330          80       2  renault lecar deluxe
336          80       1    ford mustang cobra
354          81       2           renault 18i
374          82       1        amc concord dl

### Problem 5. Missing data: correction (1 point)
It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [18]:
test_mpg_data = mpg_data # create a copy of mpg_data to try all possibilities and avoid the test

In [19]:
# count all NaN values before drop or replace them
def nan_count(data, col_name):
    return data[col_name].isna().sum()

#### Remove (drop) NaN values:

In [20]:
cars_with_unknown_hp # show all hp with NaN values before drop them

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [21]:
mpg_data['horsepower'].unique() # show the unique values for hp and see that NaN is there

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
        nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,
        65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [22]:
# count NaN form hp befor drop
nans_sum = nan_count(mpg_data, 'horsepower')
print(f'NaN values are {nans_sum}')

NaN values are 6

In [23]:
mpg_data = mpg_data.dropna(axis=0, subset=['horsepower']) # drop NaN values

In [24]:
cars_hp = get_unknown_hp(mpg_data) # after droped NaN values there is no data
cars_hp

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, car_name]
Index: []

In [25]:
mpg_data['horsepower'].unique() # after droped NaN values

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
       100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,  65.,
        69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137., 158.,
       167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,  78.,
        52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,  81.,
        79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,  48.,
        66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62., 132.,
        84.,  64.,  74., 116.,  82.])

In [26]:
# count NaN form hp after drop
nans_sum = nan_count(mpg_data, 'horsepower')
print(f'NaN values are {nans_sum}')

NaN values are 0

#### Replace NaN values with hp mean value:

In [27]:
mpg_data = test_mpg_data # return the old data

In [28]:
cars_with_unknown_hp

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl

In [29]:
mpg_data.horsepower.unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,
        95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,
        nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,
        65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [30]:
nans_sum = nan_count(mpg_data, 'horsepower')
print(f'NaN values are {nans_sum}')

NaN values are 6

In [31]:
mean_cars_hp = mpg_data['horsepower'].mean() # get hp mean value
mean_cars_hp

104.46938775510205

In [32]:
mpg_data = mpg_data.fillna(value=mean_cars_hp) # replace NaN values with hp mean value

In [33]:
mpg_data.loc[mpg_data['horsepower'] == mean_cars_hp] # show the replaced values

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
32,25.0,4,98.0,104.469388,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,104.469388,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,104.469388,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,104.469388,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,104.469388,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,104.469388,3035.0,20.5,82,1,amc concord dl

In [34]:
mpg_data['horsepower'].unique() # after droped NaN values we seethat the mean hp value is in

array([130.        , 165.        , 150.        , 140.        ,
       198.        , 220.        , 215.        , 225.        ,
       190.        , 170.        , 160.        ,  95.        ,
        97.        ,  85.        ,  88.        ,  46.        ,
        87.        ,  90.        , 113.        , 200.        ,
       210.        , 193.        , 104.46938776, 100.        ,
       105.        , 175.        , 153.        , 180.        ,
       110.        ,  72.        ,  86.        ,  70.        ,
        76.        ,  65.        ,  69.        ,  60.        ,
        80.        ,  54.        , 208.        , 155.        ,
       112.        ,  92.        , 145.        , 137.        ,
       158.        , 167.        ,  94.        , 107.        ,
       230.        ,  49.        ,  75.        ,  91.        ,
       122.        ,  67.        ,  83.        ,  78.        ,
        52.        ,  61.        ,  93.        , 148.        ,
       129.        ,  96.        ,  71.        ,  98.        ,
       115.        ,  53.        ,  81.        ,  79.        ,
       120.        , 152.        , 102.        , 108.        ,
        68.        ,  58.        , 149.        ,  89.        ,
        63.        ,  48.        ,  66.        , 139.        ,
       103.        , 125.        , 133.        , 138.        ,
       135.        , 142.        ,  77.        ,  62.        ,
       132.        ,  84.        ,  64.        ,  74.        ,
       116.        ,  82.        ])

In [35]:
nans_sum = nan_count(mpg_data, 'horsepower')
print(f'NaN values are {nans_sum}')

NaN values are 0

In [36]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)

### Problem 6. Years of production (1 + 1 points)
Display all unique model years. Assign them to the variable `model_years`.

In [37]:
def get_unique_model_years(dataframe):
    return dataframe['model_year'].unique()

In [38]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[70 71 72 73 74 75 76 77 78 79 80 81 82]

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

#### Using pandas.Series.map

In [39]:
mpg_data.model_year = mpg_data.model_year.map({
    70: 1970,
    71: 1971,
    72: 1972,
    73: 1973,
    74: 1974,
    75: 1975,
    76: 1976,
    77: 1977,
    78: 1978,
    79: 1979,
    80: 1980,
    81: 1981,
    82: 1982
})

In [40]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982]

In [41]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,1970,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,1970,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,1970,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,1970,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,1970,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,1982,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,1982,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,1982,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,1982,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,1982,1,chevy s-10

#### Using pandas.DataFrame.replace

In [42]:
mpg_data = test_mpg_data # return the old data

In [43]:
# get new unique vals
model_years = get_unique_model_years(mpg_data)
print(model_years)

[70 71 72 73 74 75 76 77 78 79 80 81 82]

In [44]:
old_years = [n for n in model_years[:]] # get all old vals
print(old_years)
new_years = [1900+n for n in model_years[:]] # set all new vals
print(new_years)
# use df.replace
mpg_data['model_year'] = mpg_data['model_year'].replace(old_years, new_years)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]
[1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982]

In [45]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982]

In [46]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,1970,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,1970,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,1970,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,1970,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,1970,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,1982,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,1982,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,1982,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,1982,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,1982,1,chevy s-10

### Problem 7. Exploration: low-power cars (1 point)
The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [47]:
def get_model_names_smallest_cylinders(dataframe):
    smallest_num_cylinders = dataframe['cylinders'] == dataframe['cylinders'].min()
    car_names  = dataframe[smallest_num_cylinders]['car_name']
    return car_names

In [48]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_true(car_names.shape == (4,) or car_names.shape == (4, 1))

71     mazda rx2 coupe
111          maxda rx3
243         mazda rx-4
334      mazda rx-7 gs
Name: car_name, dtype: object

### Problem 8. Exploration: correlations (1 point)
Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [49]:
def calculate_correlation(dataframe, first_column, second_column):
    correlation = dataframe[first_column].corr(dataframe[second_column])
    return correlation

In [50]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)

Horsepower:Weight correlation coefficient: 0.864537737574144